<p id="notice"><%= notice %></p>

<h1>Listing Tagships</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tagships.each do |tagship| %>
      <tr>
        <td><%= tagship.post_id %></td>
        <td><%= tagship.tag_id %></td>
        <td><%= link_to 'Show', tagship %></td>
        <td><%= link_to 'Edit', edit_tagship_path(tagship) %></td>
        <td><%= link_to 'Destroy', tagship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tagship', new_tagship_path %>
