<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>



<p>
  <%= @post.category.name %>
</p>

<p>
  <%= @post.body %>
</p>



<div class="btn-toolbar" role="toolbar" aria-label="...">
  <div class="btn-group" role="group" aria-label="...">
   <% if current_user %>
  <% if current_user.in? @post.favorited_by %>
      <%= form_for(@favorite, method: "delete") do |f| %>
        <%= f.hidden_field :post_id %>
        <%= f.submit value: "Unfavorite" , class:"btn btn-default"%>
      <% end %>
    <% end %>

  <% if not current_user.in? @post.favorited_by %>
    <%= form_for(@favorite) do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.submit value:"Favorite" , class:"btn btn-default" %>
    <% end %>
   <% end %>
  
  <% end %>
    <%= edit_and_destroy_buttons(@post) %>
  </div>
</div>
