<div class="row">
 <div class="col-md-2">
          
 </div>
 <div class="col-md-6">
  <h1>
    <%= @post.title %>
    <small> <%= @post.category.name %></small>
  </h1>
  <p>
   <em> Written by: <%= @post.user.username %> ,	
   Created at: <%= @post.created_at.strftime("%b %d, %Y") %></em>
  </p>


  <div class="button-group">
    <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag, class:"btn btn-info" %>
    <% end %>
  </div>

  <% if current_user and current_user.admin? %>
    <%= form_for(@tag) do |t| %>
      <%= t.label :name %><br>
      <%= t.text_field :name , placeholder:"Trendy" %>
      <%= t.hidden_field :post_id %>
       <%= t.submit value:"Tag post" , class:"btn btn-default" %>
   <% end %>
  <% end %>

  <hr class="featurette-divider">

  <p class="lead">
   <%= @post.intro %>
  </p>

 <hr class="featurette-divider">

  <p>
   <%= @post.body %>
  </p>

  <%= edit_and_destroy_buttons(@post) %>
 </div>

 <div class="col-md-2">
   <% if current_user %>
  <% if current_user.in? @post.favorited_by %>
      <%= form_for(@favorite, method: "delete") do |f| %>
        <%= f.hidden_field :post_id %>
        <%= f.submit value: "Unfavorite",  class:"btn btn-warning"%>
      <% end %>
    <% end %>


  <% if not current_user.in? @post.favorited_by %>
    <%= form_for(@favorite) do |f| %>
      <%= f.hidden_field :post_id %>
        <%= f.submit value:"Favorite" , class:"btn btn-warning" %>
   <% end %>
   <% end %>
  <% end %>

 </div>
</div>


