<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>



<p>
  <%= @post.category.name %>
</p>

<p>
  <%= @post.body %>
</p>



<div class="btn-toolbar" role="toolbar" aria-label="...">
  <div class="btn-group" role="group" aria-label="...">
    <!-- favorite-button -->
    <%= edit_and_destroy_buttons(@post) %>
  </div>
</div>
